<h1>Добавить новый бургер</h1>



<form action="/add" method="POST">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required>
    <label for="title">Название бургера</label>
    <span class="helper-text" data-error="Введите название"></span>
  </div>
  <div class="input-field">
    <input id="about" name="about" type="text" class="validate" required>
    <label for="about">Содержание</label>
    <span class="helper-text" data-error="Введите содержание"></span>
  </div>
  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required>
    <label for="price">Цена бургера</label>
    <span class="helper-text" data-error="Введите цену"></span>
  </div>

  <div class="input-field">
    <input id="image" name="image" type="text" class="validate" required>
    <label for="image">URL изображения</label>
    <span class="helper-text" data-error="Введите юрл"></span>
  </div>
  <input type="hidden" name="_csrf" value={{@root.csrf}}>
  <button class="btn btn-primary">Dobavit</button>
</form>




{{!-- <div class="container">
  <h2 class="center">Добро пожаловать!</h2>
  <div class="row">

    <img class="responsive-img col s6 " src="https://www.maggi.ru/data/images/recept/img640x500/recept_5112_nf2l.jpg" />
    <div class="card col s8 m8 l6">
      <p> Меня зовут Андрей, и в прошлом я работал в школе учителем истории. Очень скоро я осознал,
        что в школе невозможно полностью реализовать себя, из-за чего принял решение об открытии бургерной "Аутсайдер".
      </p>
      <p>В моей бургерной вы полностью ощутите всю палитру вкусов родом из далёкого прошлого и настоящего.
        Все рецепты подобраны с той душевной теплотой, которую вы вряд ли найдете где-либо еще.
        Крайне рекомендую попробовать бургер "Индустриальная революция", в нём сочетаются нотки 19 века, а также лёгкая
        горечь,
        которую, к слову, также испытывали рабочие от невыносимых условий труда.
      </p>
      <p>Бургерная "Аутсайдер": только свежее мясо и пиво.</p>
    </div>
  </div>
</div> --}}