
<div class="container center">
  <h2 class="center">Добро пожаловать!</h2>
  <div class="center">
    <div class="card col s6 m6 l6 center paddingCard">
      <image class="responsive-img" src="https://www.gastronom.ru/binfiles/images/20191205/b543df50.jpg"></image>
      <p class="center"> Меня зовут Андрей, и в прошлом я работал в школе учителем истории. Очень скоро я осознал,
        что в школе невозможно полностью реализовать себя, из-за чего принял решение об открытии бургерной "Аутсайдер".
      </p>
      <p>В моей бургерной вы полностью ощутите всю палитру вкусов родом из далёкого прошлого и настоящего.
        Все рецепты подобраны с той душевной теплотой, которую вы вряд ли найдете где-либо еще.
        Крайне рекомендую попробовать бургер "Индустриальная революция", в нём сочетаются нотки 19 века, а также лёгкая
        горечь,
        которую, к слову, также испытывали рабочие от невыносимых условий труда.
      </p>
      <p>Бургерная "Аутсайдер": только свежее мясо и пиво.</p>
    </div>
  </div>
</div>